<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <form [formGroup]="chechOut" (ngSubmit)="handleForm()">

        <input #email type="email" class="form-control my-2" formControlName="email">
        <div class="alert alert-danger my-2"
            *ngIf="chechOut.get('email')?.errors && (chechOut.get('email')?.touched|| email.value.length >0)">
            <p *ngIf=" chechOut.get('email')?.getError('required')">details is required</p>
        </div>
        <button class="btn btn-success">Verfiy</button>
    </form>
</section>