<section class="w-75 mx-auto p-3 rounded-3 bg-main-light">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <h3>Cart Shop</h3>
            <button *ngIf="hasData" class="btn btn-success" [routerLink]="['/check-out' ,cartProducts._id]"><i
                    class="fa-brands fa-cc-visa fa-lg" style="color: #74C0FC;"></i> CheckOut</button>
        </div>
        <div class="col-md-12 d-flex justify-content-between">
            <p *ngIf="hasData" class="fw-bold">Total price : <span class="text-main"> {{cartProducts.totalCartPrice |
                    currency:'EGP '}}
                </span></p>
            <p *ngIf="hasData" class="fw-bold">Total number of items : <span class="text-main">{{cart.numOfCartItems
                    }}</span> </p>

        </div>
    </div>



    <h3 *ngIf="isempty">Your Cart is empty</h3>
    <div *ngIf="hasData">
        <div class="row border-bottom p-2" *ngFor="let item of cartProducts.products">
            <div class="col-md-1">
                <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.title">
            </div>
            <div class="col-md-11">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3 class="h6 fw-bolder">{{item.product.title}}</h3>
                        <p>Price: <span class="text-main"> {{item.price | currency:'EGP '}} </span></p>
                        <button (click)="removeProduct(item.product._id)" class="btn text-danger"><i
                                class="fa-regular fa-trash-can"></i> Remove</button>
                    </div>
                    <div>
                        <button (click)="changeCount(item.product._id,item.count + 1)"
                            class="btn border border-success m-2">+</button>
                        <span>{{item.count}}</span>
                        <button (click)="changeCount(item.product._id,item.count - 1)"
                            class="btn border border-success m-2">-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="hasData" class="d-flex align-items-center justify-content-center p-2">
        <button (click)="ClearUserCart()" class="btn border-2 border-success m-2">Clear Your Cart</button>
    </div>

</section>