<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <h1 class="text-capitalize">register now</h1>
    <form [formGroup]="registerForm" (ngSubmit)="handleForm()">


        <div class="mb-2">
            <label for="name" class="text-capitalize">name:</label>
            <input #inputName type="text" formControlName="name" id="name" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched || inputName.value.length >0)">
                <p *ngIf=" registerForm.get('name')?.getError('required')">Name is required</p>
                <p *ngIf=" registerForm.get('name')?.getError('minlength')">Name minLength 3</p>
                <p *ngIf=" registerForm.get('name')?.getError('maxlength')">Name maxLength 20</p>
            </div>
        </div>
        <div class="mb-2">
            <label for="email" class="text-capitalize">email:</label>
            <input #inputemail type="email" formControlName="email" id="email" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched|| inputemail.value.length >0)">
                <p *ngIf=" registerForm.get('email')?.getError('required')">Email is required</p>
                <p *ngIf=" registerForm.get('email')?.getError('email')">Email In-valid</p>
            </div>
        </div>
        <div class="mb-2">
            <label for="password" class="text-capitalize">password:</label>
            <input #inputpassword type="password" id="password" formControlName="password" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched|| inputpassword.value.length >0)">
                <p *ngIf=" registerForm.get('password')?.getError('required')">password is required</p>
                <p *ngIf=" registerForm.get('password')?.getError('pattern')">
                    must be <br>
                    * Start with a letter (either uppercase or lowercase).<br>
                    * Be between 6 and 9 characters in total.<br>
                    * Can only contain letters (A-Z or a-z) and numbers (0-9)
                </p>
            </div>
        </div>
        <div class="mb-2">
            <label for="rePassword" class="text-capitalize">re-password:</label>
            <input #inputrepassword type="password" id="rePassword" formControlName="rePassword" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched || inputrepassword.value.length >0)">
                <p *ngIf=" registerForm.get('rePassword')?.getError('required')">rePassword is required</p>
                <p *ngIf=" registerForm.get('rePassword')?.getError('mismatch')">
                    re-Password isn't valid
                </p>
            </div>
        </div>
        <div class="mb-2">
            <label for="phone" class="text-capitalize">phone:</label>
            <input #inputphone type="tel" id="phone" formControlName="phone" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || inputphone.value.length >0)">
                <p *ngIf=" registerForm.get('phone')?.getError('required')">phone is required</p>
                <p *ngIf=" registerForm.get('phone')?.getError('pattern')">
                    Phone is inavalid
                </p>
            </div>
        </div>
        <button class="btn-main ms-auto d-block">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            Register now</button>
        <div *ngIf="msgError" class="alert alert-danger my-2">
            <p>{{msgError}}</p>
        </div>
    </form>
</section>