<section class="my-5 w-50 mx-auto">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="w-100">
                <owl-carousel-o [options]="customOptionsStatic">
                    <ng-template carouselSlide>
                        <img src="./assets/images/61cSNgtEISL._AC_SY200_.jpg" height="500px" class="w-100"
                            alt="car seat">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./assets/images/41nN4nvKaAL._AC_SY200_.jpg" height="500px" class="w-100" alt="bag">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./assets/images/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg"
                            height="500px" class="w-100" alt="rings">
                    </ng-template>
                </owl-carousel-o>
            </div>

        </div>
        <div class="col-md-6">
            <img src="./assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg"
                height="250px" class="w-100" alt="Travel Bag">

            <img src="./assets/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" class="w-100"
                height="250px" alt="Gitar">
        </div>

    </div>
</section>


<section class="my-3">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of  categories">
            <ng-template carouselSlide>
                <div>
                    <img [src]="slide.image" [alt]="slide.name" class="w-100" height="270px">
                    <h3 class="h5 fw-bolder">{{slide.name}}</h3>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>

<section class="container">
    <input type="search" class="form-control w-50 mx-auto my-3" placeholder="search.." [(ngModel)]="searchterm">
    <div class="row g-4">
        <div class="col-md-3" *ngFor="let product of products | search : searchterm">
            <div class="product p-2 cursor-pointer">
                <div [routerLink]="['/details' ,product._id]">
                    <img [src]="product.imageCover" [alt]="product.title" class="w-100">
                    <h3 class="h6 text-main">{{product.category.name}}</h3>
                    <h4 class="h6 fw-bold">{{product.title.split(' ').slice(0,2).join(' ')}}</h4>
                    <div class="d-flex justify-content-between">
                        <span>{{product.price | currency:'EGP '}} </span>
                        <div><i class="fa-solid fa-star" style="color: #daa520;"></i> <span
                                class="text-muted">{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button (click)="addCart(product._id)" class="btn-main w-75">+ Add</button>
                    <i *ngIf="!WhishList.includes(product._id)" class="fa-solid fa-heart fa-xl cursor-pointer"
                        (click)="addWishlist(product._id)"></i>
                    <i *ngIf="WhishList.includes(product._id)" class="fa-solid fa-heart fa-xl cursor-pointer"
                        style="color: #bb431b;" (click)="removeProduct(product._id)"></i>
                </div>
            </div>
        </div>
    </div>
</section>