<section class="w-75 mx-auto">
    <div class="row align-items-center">
        <div class="col-md-4">
            <owl-carousel-o [options]="imagesProductDetails">
                <ng-container *ngFor="let slide of ProductsDetails.images">
                    <ng-template carouselSlide>
                        <img [src]="slide" class="w-100">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
        <div class="col-md-8">
            <div class="">
                <h3 class="fw-bolder">{{ProductsDetails.title}}</h3>
                <p class="text-muted">{{ProductsDetails.description}}</p>
                <h4 class="h5">{{ProductsDetails.category.name}}</h4>
                <div class="d-flex justify-content-between">
                    <span>{{ProductsDetails.price |currency:'EGP '}} </span>
                    <div><i class="fa-solid fa-star" style="color: #daa520;"></i> <span
                            class="text-muted">{{ProductsDetails.ratingsAverage}}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button (click)="addCart(ProductsDetails._id)" class="btn-main w-75">+ Add</button>
                    <i *ngIf="!WhishList.includes(ProductsDetails._id)" class="fa-solid fa-heart fa-xl cursor-pointer"
                        (click)="addWishlist(ProductsDetails._id)"></i>
                    <i *ngIf="WhishList.includes(ProductsDetails._id)" class="fa-solid fa-heart fa-xl cursor-pointer"
                        style="color: #bb431b;" (click)="removeProduct(ProductsDetails._id)"></i>
                </div>
            </div>
        </div>
    </div>
</section>