<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <form [formGroup]="chechOut" (ngSubmit)="handleForm()">



        <div class="mb-2">
            <label for="email" class="text-capitalize">email:</label>
            <input #inputemail type="email" formControlName="email" id="email" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="chechOut.get('email')?.errors && (chechOut.get('email')?.touched|| inputemail.value.length >0)">
                <p *ngIf=" chechOut.get('email')?.getError('required')">Email is required</p>
                <p *ngIf=" chechOut.get('email')?.getError('email')">Email In-valid</p>
            </div>
        </div>
        <div class="mb-2">
            <label for="password" class="text-capitalize">password:</label>
            <input #inputpassword type="password" id="password" formControlName="password" class="form-control">
            <div class="alert alert-danger my-2"
                *ngIf="chechOut.get('password')?.errors && (chechOut.get('password')?.touched|| inputpassword.value.length >0)">
                <p *ngIf=" chechOut.get('password')?.getError('required')">password is required</p>
                <p *ngIf=" chechOut.get('password')?.getError('pattern')">
                    must be <br>
                    * Start with a letter (either uppercase or lowercase).<br>
                    * Be between 6 and 9 characters in total.<br>
                    * Can only contain letters (A-Z or a-z) and numbers (0-9)
                </p>
            </div>
        </div>
        <button class="btn btn-success">Verfiy</button>
    </form>
</section>